/* -------------------------- */
/* --- Basic Setup --- */
/* -------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(58, 57, 57);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.wrapper {
  width: 85vw;
  margin: 0 auto;
}

/* -------------------------- */
/* Reusable Components */
/* -------------------------- */

/* --- Headings --- */
h1 {
  font-size: 240%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 170%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* -------------------------- */
/* Header */
/* -------------------------- */

nav {
  margin-top: 80px;
}

nav h1 {
  display: inline-block; /* Allows main nav to be on right side*/
}

.about {
  margin-top: 95px;
}

.about img {
  width: 40vw;
  height: auto;
  float: left;
  margin-left: 20px;
  margin-bottom: 235px;
}

.about-text-content {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 35px;
}

.about-text-content h2 {
  margin-bottom: 18px;
}

.about-text-content p {
  line-height: 1.6;
}

.main-nav {
  list-style: none;
  float: right;
  margin-top: 15px;
}

.main-nav li {
  display: inline-block;
  margin-left: 27px;
}

.main-nav li a:link,
.main-nav li a:visited {
  font-size: 85%;
  font-weight: 400;
  color: rgb(177, 177, 177);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: rgb(68, 67, 67);
}
