/* -------------------------- */
/* --- Basic Setup --- */
/* -------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(58, 57, 57);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.wrapper {
  width: 85vw;
  margin: 0 auto;
}

/* -------------------------- */
/* Reusable Components */
/* -------------------------- */

/* --- Headings --- */
h1 {
  font-size: 240%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 170%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* -------------------------- */
/* Header */
/* -------------------------- */

nav {
  margin-top: 40px;
}

.about {
  margin-top: 80px;
}

.about img {
  width: 40vw;
  height: auto;
  float: left;
  margin-left: 20px;
}

.about-text-content {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 35px;
}

.about-text-content h2 {
  margin-bottom: 18px;
}

.about-text-content p {
  line-height: 1.6;
}
